/.vs
/Debug
/packages
/final Project.vcxproj
/final Project.vcxproj.filters
/final Project.vcxproj.user
/flexproject.sln
/flexproject.vcxproj
/flexproject.vcxproj.filters
/Project2.vcxproj
/Project2.vcxproj.filters
/Project2.vcxproj.user
